#resume .category{
  text-transform: uppercase;
  font-weight: 700 ;
  margin: 0;
  padding-top: 20px;
}


/* #skillsAndLanguages */
/*************************************/
#skillsAndLanguages ul, #experience ul{
  padding-left:0px;
  list-style: none;
}

.title{
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 ;
  padding-top: 10px;
}

.resumeYear{
  text-align: right;
  font-weight: 100;
  padding-top: 10px;
  padding-right: 5px ;
}