/***********************************

        color palette

		background:					53,57,54

		green:			#47EfBC		141,228,185
		blue:			#fcc745		164,227,217
		lilac:			#ff5375		157,157,172
		lavender:		#522db8		138,115,138

***********************************/


/***********************************

            font weights

			light:   300
			book:    400
			medium:  500
			bold:    700

***********************************/

*{
	font-family: "Gotham SSm A", "Gotham SSm B";
	font-style: normal;
}

.noMargin{margin:0;}
.noPadding{padding:0;}

body{
	background-color: rgb(53,57,54);
	color:#fff;
}

nav, main{
	display:inline;
}

.buttonName{
	margin:auto;
	position:absolute;
	left:0;
	right:0;
	/*padding-top:35px;*/
}

/* NAVIGATION */
/************************************/

.navButtonContainer, .projectButtonContainer{
	padding:0px;
	text-align: center
}

.navButtonContainer a, .projectButtonContainer a{
	height:30px;
	width:30px;
	border-radius: 30px;
	display:block;
	left:0;
	right:0;
	margin:auto;
}


.navButtonContainer p, .projectButtonContainer p{
	text-transform: uppercase;
}

#homeButton a{background-color:rgb(141,228,185);}
#homeButton p{color:rgb(141,228,185);}

#resumeButton a{background-color:rgb(164,227,217);}
#resumeButton p{color:rgb(164,227,217);}

#aboutButton a{background-color:rgb(157,157,172);}
#aboutButton p{color:rgb(157,157,172);}

#contactButton a{background-color:rgb(138,115,138);}
#contactButton p{color:rgb(138,115,138);}




/* PORTFOLIO */
/************************************/

.projectButtonContainer .row{
	height:60px;
}

.projectButtonContainer a.projectButtonThumbnail{
	z-index:1;
}

.projectButtonContainer a{
	position:absolute;
}

.projectButtonContainer .buttonName{
	padding-top:30px;
}

@media screen and (min-width:769px){
	.projectButtonContainer a.projectButton{
		background-color:#fff;
	}
}


/* > 768 DESKTOP */
/* BUTTON NAME HOVER ANIMATION */
/*********************************************/
@media screen and (min-width:769px){

	.buttonName, .projectButtonThumbnail{
		opacity: 0;
		-o-transition:opacity .3s ease-in;
		-ms-transition:opacity .3s ease-in;
		-moz-transition:opacity .3s ease-in;
		-webkit-transition:opacity .3s ease-in;
		transition:opacity .3s ease-in;
	}

	.navButton:hover ~ .buttonName, .projectButtonContainer a:hover ~ .buttonName, .projectButtonThumbnail:hover{
		opacity: 1;
	}

	.projectButtonThumbnail:hover ~ .projectButton{
		opacity: 0;
	}

}