#test main{
	color:red;
	width:800px;
	position:absolute;
	left:0;
	right:0;
	top:110px;
	margin:auto;
}

#test main .title{
	display:inline;
	font-size:2.5em;
	padding-bottom:5px;
}

#test main a{
	font-family:serif;
	color:white;
	border-bottom:solid 5px #fff;
}

#test main img{
	max-width:300px;
	display:none;
}

#test main a:hover{
	text-decoration: none;
	visibility:hidden;
}

#test main a:hover ~ img{
	visibility:visible;
	display:inline-block;
}

#test main span{
	font-family:serif;
	font-size:2.5em;
}



/***********************************

        color palette

		background:					53,57,54

		green:			#47E5BC		141,228,185
		blue:			#81E4DA		164,227,217
		lilac:			#9F9FAD		157,157,172
		lavender:		#93748A		138,115,138

***********************************/


/***********************************

            font weights

			light:   300
			book:    400
			medium:  500
			bold:    700

***********************************/

*{
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-style: normal;
}

.noMargin{margin:0;}
.noPadding{padding:0;}

body{
	background-color: rgb(53,57,54);
	color:#fff;
	padding:50px 0 !important;
}

nav, main{
	display:inline;
}

.buttonName{
	margin:auto;
	position:absolute;
	left:0;
	right:0;
	font-size:0.8em;
	font-weight:300;
	letter-spacing: 0.5px;
	/*padding-top:35px;*/
}

a.buttonName:hover{
	text-decoration: none;
}

/* NAVIGATION */
/************************************/\

#index nav div{
	display:inline;
}

#portfolio nav, .project nav, #resume nav, #about nav, #contact nav{
	position:fixed;
	width:100%;
	z-index:2;
}

#index .navButtonContainer{
	margin-bottom:10vh;
}

/*main .row:first-child{
	margin-top:30px;
}*/

.navButtonContainer, .projectButtonContainer{
	padding:0px;
	text-align: center
}

.navButtonContainer a.navButton, .projectButtonContainer a.projectButton{
	height:30px;
	width:30px;
	border-radius: 30px;
	display:block;
	left:0;
	right:0;
	margin:auto;
}


.navButtonContainer a, .projectButtonContainer a{
	text-transform: uppercase;
	color:#fff;
}

#portfolioButton a.navButton{background-color:rgb(141,228,185);}
#portfolioButton a{color:rgb(141,228,185);}

#resumeButton a.navButton{background-color:rgb(164,227,217);}
#resumeButton a{color:rgb(164,227,217);}

#aboutButton a.navButton{background-color:rgb(157,157,172);}
#aboutButton a{color:rgb(157,157,172);}

#contactButton a.navButton{background-color:rgb(138,115,138);}
#contactButton a{color:rgb(138,115,138);}

br#navBreak{
	margin-bottom:30px;
}


@media screen and (max-width:768px){
	#portfolio nav #resumeButton .buttonName, #portfolio nav #aboutButton .buttonName, #portfolio nav #contactButton .buttonName{
		visibility:hidden;
	}

	#resume nav #portfolioButton .buttonName, #resume nav #aboutButton .buttonName, #resume nav #contactButton .buttonName{
		visibility:hidden;
	}

	#about nav #resumeButton .buttonName, #about nav #portfolioButton .buttonName, #about nav #contactButton .buttonName{
		visibility:hidden;
	}

	#contact nav #resumeButton .buttonName, #contact nav #aboutButton .buttonName, #contact nav #portfolioButton .buttonName{
		visibility:hidden;
	}


}
@media screen and (max-width:420px){
	#portfolio nav #portfolioButtonName{margin-left:-5%;}
}

@media screen and (max-width:380px){
	#portfolio nav #portfolioButtonName{margin-left:-10%;}
}

@media screen and (max-width:360px){
	#portfolio nav #portfolioButtonName{margin-left:-15%;}
}

@media screen and (max-width:340px){
	#portfolio nav #portfolioButtonName{margin-left:-20%;}
}

@media screen and (max-width:370px){
	#contact nav #contactButtonName{margin-left:-8%;}
}

@media screen and (max-width:768px){
	.project nav .buttonName{
		opacity: 0;
	}
}


/**************************************/
/* NAVIGATION */





/* INDEX */
/************************************************************************************************************/

@media screen and (min-width:768px){
	#index nav .buttonName{
		font-size:1em;
	}
}

@media screen and (max-width:991px){
	#index nav{
		position:absolute;
		left:0;
		right:0;
		top:20%;
		padding-bottom:50px;
	}
}

@media screen and (min-width:992px){
	#index nav{
		position:absolute;
		width:100%;
		top:45%;
	}
}

/************************************************************************************************************/
/* INDEX */


/* PORTFOLIO */
/************************************************************************************************************/
a:focus{
	outline:0;
	text-decoration: none;
}

.projectButtonContainer .row{
	height:60px;
}

.projectButtonContainer a.projectButtonThumbnail{
	z-index:1;
}

.projectButtonContainer a.projectButtonThumbnail, .projectButtonContainer a.projectButton, .projectButtonContainer a.buttonName{
	position:absolute;
	left:0;
	right:0;
	margin:auto;
}

.projectButtonContainer .buttonName{
	top:35px;
}

section#M, section#V{
	margin-top:30px;
}

@media screen and (max-height:360px){
	.projectButtonContainer .row{height:20vh;}
}

@media screen and (max-width:767px){
	#portfolio #V{margin-top: 90px;}
}

@media screen and (min-width:769px){
	.projectButtonContainer a.projectButton{background-color:#fff;}
}


@media (min-width:768px) and (max-width:1024px){
	#portfolio nav{margin-top:10%;}
	section#M, section#V{margin-top:15%;}
}

@media screen and (min-width:1024px){
	.projectButtonContainer .row{height:80px;}
	#portfolio nav{margin-top:5%;}
	section#M, section#V{margin-top:10%;}
}

@media screen and (max-width:768px){
	section#M{margin-top:60px;}
	#portfolio .projectButtonContainer .buttonName{visibility:hidden;}
}

/************************************************************************************************************/
/* PORTFOLIO */





/* PROJECTS */
/************************************************************************************************************/
.container{
	width:100%;
	padding:0;
}

.row{
	margin-left:0;
	margin-right: 0;
}

/* TITLE / DESCRIPTION */
/***************************************************/

body.project .projectTitleDesc h3.projectTitle, body.project .projectTitleDesc h4.projectCategory, #about .projectTitleDesc h3.projectTitle{
	text-align:center;
	text-transform: uppercase;
}

body.project .projectTitleDesc h3.projectTitle, #about .projectTitleDesc h3.projectTitle{
	font-size:17px;
	font-weight:700;
	margin-top:60px;
}

body.project .projectTitleDesc h4.projectCategory{
	letter-spacing: 1px;
	font-weight:300;
	font-size:15px;
}

body.project .projectTitleDesc p.projectDescription, #about .projectTitleDesc p.projectDescription{
	font-weight:300;
	margin-top:15px;
}

body.project .projectTitleDesc a{
	color:#fff;
	font-weight:500;
}

@media screen and (min-width:1440px){
	body.project .projectTitleDesc h3.projectTitle, #about .projectTitleDesc h3.projectTitle{
		font-size:1.75em;
	}
	body.project .projectTitleDesc h4.projectCategory{
		font-size:1.25em;
	}
	body.project .projectTitleDesc p.projectDescription, #about .projectTitleDesc p.projectDescription{
		font-size:1.5em;
	}
}

/* IMAGES*/
/***************************************************/
body.project .projectImages img{
	max-width: 100%;
	width:100%;
}

body.project .projectImages .images{
	margin-top: 30px;
}

body.project .projectImages .center{
	text-align: center;
}

body.project .projectImages .whiteBackground{
	background-color:white;
	
}


@media screen and (min-width:768px){
	body.project .projectImgPadding{
		padding:50px 0;
		background-color:white;
	}
}

@media screen and (max-width:991px){
	body.project .hideThis{
		display:none;
	}
}



/* ANATOLIA */
/***************************************************/
#anatoliaWhiteLogo{
	max-width:175px;
	padding:50px;
	margin:50px;
}

#anatolia main.projectImages #blackBackgroundWhiteLogo{
	background-color:#000;
	/*text-align: center;*/
}

#anatolia .projectImages #logoAcornNameImage img{
	width:275px;
	padding:50px;
	margin:150px 0;
}

#anatolia .projectImages #logoAcornNameImage{
	background-color:#fff;
}



/* NEET */
/***************************************************/
#neet #neetSquares{
	padding:27px 0;
}



/* VISUAL OPINION */
/***************************************************/
#visualOpinion .voTitleSlide{text-align:center;padding:100px 0;background-color:black;}
#visualOpinion .voTitleSlide h4.theVisualOpinion{text-transform: uppercase;font-size:1em;font-weight:700;margin:5px 0;}
#visualOpinion .voTitleSlide h3.voTitle{margin:0;font-weight:300;font-size:1.5em;letter-spacing: 1.5px;}
#visualOpinion .voTitleSlide h5.voIssue{margin:5px 0;}
#visualOpinion .voTitleSlide p.voDescription{text-align:left;font-weight:300;margin-top:30px;}
#visualOpinion .voTitleSlide span{font-style:italic;}


#visualOpinion #organic .whiteBackground img{
	padding: 0px 20%;
}

	/* GRAD 15 */
@media screen and (max-width:767px){
	#visualOpinion #grad15 #jakeSigl{
		padding:50px;
		background-color:#000;
	}
}

/* EIGHT BAKERY */
/**************************************************/
#eight .projectImages #sketches{
	padding:50px;
}



/* HEX */
/*************************************************/
#hex #hexMobile{
	background-color:rgb(216, 246, 255);
	text-align: center;
}

#hex #hexMobile img{
	width:75%;
}

@media screen and (min-width:768px){
	#hex #hexMobile img{
		width:50%;
	}
}

/* SVACE */
/*************************************************/

#SVACE img{
	margin-bottom:15px;
}

/************************************************************************************************************/
/* END PROJECTS */







/* RESUME */
/************************************************************************************************************/



/************************************************************************************************************/
/* RESUME */




/* ABOUT */
/************************************************************************************************************/

#about .projectDescription{
	font-weight:300;
}

#about .projectDescription{
	margin-top:30px;
}

#about .images{
	text-align: center;
}

#about img{
	max-width:100%;
	margin-top:30px;
}
/************************************************************************************************************/
/* ABOUT */









/* CONTACT */
/************************************************************************************************************/

#contact section{
	text-align: center;
	margin-top:30px;
	top:15vh;
}

#contact section p{
	font-size:1.75em;
	font-weight:300;
	margin:0;
}

#contact section p#desc{
	letter-spacing: 1px;
	font-weight:500;
}

#contact section p#email{
	font-size:1.5em;
}

#contact section img{
	margin:7.5px;
	margin-top:30px;
}






/* > 768 DESKTOP */
/* BUTTON NAME HOVER ANIMATION */
/***************************************************************************************************************************************/
@media screen and (min-width:769px){

	.buttonName, .projectButtonThumbnail{
		opacity: 0;
		-o-transition:opacity .3s ease-in;
		-ms-transition:opacity .3s ease-in;
		-moz-transition:opacity .3s ease-in;
		-webkit-transition:opacity .3s ease-in;
		transition:opacity .3s ease-in;
	}

	.navButton:hover ~ .buttonName, .projectButtonContainer a:hover ~ .buttonName, .projectButtonThumbnail:hover{
		opacity: 1;
	}

	.projectButtonThumbnail:hover ~ .projectButton{
		opacity: 0;
	}

}

@media screen and (max-width:991px){
	#index .buttonName, .projectButton{
		opacity: 1;
	}

}





























