/***********************************

             nav colors

		 teal:		rgb(141,228,185)
		 blue:	    rgb(164,227,217)
		 lavender:  rgb(157,157,172)
		 purple:    rgb(138,115,138)

***********************************/


/***********************************

            font weights

			light:   300
			book:    400
			medium:  500
			bold:    700

***********************************/


#resume *{
	font-family: "Gotham SSm A", "Gotham SSm B";
	font-style: normal;
	font-size:8pt;
	/*font-size:1em;*/
	font-weight:300;
}

#resume .noMargin{ margin:0; }
#resume .noPadding{ padding:0; }



/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/* Resume MOBILE */
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

/* Resume Font Styles */
/**********************************************************************************/

#resume #resumeMobile .subject{
}
#resume #resumeMobile .subject h3{text-transform: uppercase;font-weight:700;letter-spacing: 0.25em}

/* Resume Header */
/**********************************************************************************/

#resume #resumeMobile #header h2{
	text-transform: uppercase;
	font-size:15pt;
	font-weight:700;
}

#resume #resumeMobile #header h4{
	font-size:9pt;
	font-weight:400;
}

#resume #resumeMobile #media li, #resume #resumeMobile #contact li{
	list-style: none;
	padding:0;
}

#resume #resumeMobile #contact li{
	text-transform: uppercase;
	font-weight:500;
}




/* Resume Skills and Languages */
/**********************************************************************************/
#resume #skillsLanguages ul{
	list-style: none;
	padding:0;
}